.box{
    position: fixed;
    grid-area: box;

    height: 30rem;
    top: 60%;
    right: 38%;



    @include respond(tab-land){ // width < 1200px //
        right: 45%;
    }
    @include respond(tab-port){ // width < 900px // cascading - the last one is taken when conflicting and its the smallest so thats what we want as they are all smaller than the above
        right : 57%
    }
    @include respond(phone){ // width < 600px // cascading - the last one is taken when conflicting and its the smallest so thats what we want as they are all smaller than the above
        right: 62%;
    }
   
    &-button{
        
        position: absolute;
        transition: all .2s ease;
        padding: 15rem;
        width: 10rem;
        border-radius: 50%;
        background-color: transparent;

       
        @include respond(phone){ // width < 600px // cascading - the last one is taken when conflicting and its the smallest so thats what we want as they are all smaller than the above
            padding: 20rem;
        }
       
    &, 
    &:link, 
    &:visited, 
    &:focus,
    &:active 
    {
    background-color: transparent;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
    }

    }
}